@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideTestimonial {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slideTestimonial {
  animation: slideTestimonial 40s linear infinite;
}
